::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  display: none;
  border-radius: 100vw;
  margin-block: 0.4rem;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(141, 123, 123);
  border-radius: 100vw;
  height: 20px;
  border: 0.1rem solid white;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(85, 80, 95);
}
